.titulo {
  font-size: 24px;
  font-weight: bold;
}

th {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-left: 40px;
  color: #252733;
}

th:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
  color: #252733;
}

td {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 40px;
  color: #0e1d8e;
}

td:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
  color: #0e1d8e;
}

.fundo-tabela {
  padding: 2rem 2rem;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--main-green-color);
  background: white;
}

.button {
  display: flex;
  margin-left: 80vh;
  margin-right: 10vh;
  margin-top: 5vh;
}

.button-deletatudo {
  height: 50vh;
  padding: 5px;
  display: block;
  height: 50px;
  margin-left: 90%;
  background: #e30c0c;
  border:none ;
  outline: none;
  border-radius:50%;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 95%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

.button-edit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}