.fundo-tabela {
  padding: 2rem 2rem;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--main-green-color);
  background: white;
}

.formulario{
  position: relative;
  left: 5%;
  font-size: 100%;
  margin-top: 1px;
}

.input {
  border-color: var(--main-green-color);
  border-radius: 8px;
  border-width: 3px;
  position: relative;
  left: 5vh;
  Width: 1000px;
  Height: 35px;
  Top: 2px;
}
  
button {
  display: flex;
  margin-left: 80vh;
  margin-right: 10vh;
  margin-top: 5vh;
}

h2 {
  margin: 2px;
}

h3 {
 margin-left: 8vh;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input:invalid, textarea:invalid {
  border-color: red;
}

input:valid, textarea:valid {
  border-color: #375F24;
}

.form-check {
  margin-left: 10vh;
}