<app-sidenav></app-sidenav>
<app-template-body>
  <form>
    <div class="fundo-tabela">
      <br />
      <div class="formulario">
        <h2 for="exampleInputPassword1">NOME</h2>
        <input
          class="form-control"
          class="input"
          id="input-nome"
          placeholder="  Insira aqui o nome do funcionário que deseja alterar as informações"
        />
      </div>

      <div class="formulario">
        <h2 for="exampleInputPassword1">Fazenda</h2>
        <input
          class="form-control"
          class="input"
          id="input-fazenda"
          placeholder="  Fazenda"
        />
      </div>

      <div class="formulario">
        <h2 for="exampleInputPassword1">Função principal</h2>
        <input
          class="form-control"
          class="input"
          id="input-funcaoPrincipal"
          placeholder="  Função Principal"
        />
      </div>
      <br /><br />
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check" />
        <h2 class="form-check-label" for="exampleCheck1">ATIVO</h2>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check-no" />
        <h2 class="form-check-label" for="exampleCheck1">Não ATIVO</h2>
      </div>
    </div>

    <button
      pButton
      pRipple
      (click)="alteraInfo()"
      routerLink="/admin/funcionarios/"
      type="button"
      label="Alterar informações"
      class="button p-button-rounded p-button-success"
    ></button>
  </form>
</app-template-body>
